@using System.Collections.Generic;
@using Jax.Models;

@model List<Survey>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Survey";
}

<table>
    @foreach (var survey in Model)
    {
        <tr>
            <td>@survey.Name</td>
        </tr>
    }
</table>

